<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-gear-diagnosis-heading" jhiTranslate="geargatewayApp.gearDiagnosis.home.createOrEditLabel">Create or edit a Gear Diagnosis</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!gearDiagnosis.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="gearDiagnosis.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearDiagnosis.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="gearDiagnosis.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearDiagnosis.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="gearDiagnosis.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearDiagnosis.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" [(ngModel)]="gearDiagnosis.creationDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearDiagnosis.levelMaturity" for="field_levelMaturity">Level Maturity</label>
                    <input type="number" class="form-control" name="levelMaturity" id="field_levelMaturity"
                        [(ngModel)]="gearDiagnosis.levelMaturity" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearDiagnosis.gearDiagnosisType" for="field_gearDiagnosisType">Gear Diagnosis Type</label>
                    <select class="form-control" id="field_gearDiagnosisType" name="gearDiagnosisType" [(ngModel)]="gearDiagnosis.gearDiagnosisTypeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gearDiagnosisTypeOption.id" *ngFor="let gearDiagnosisTypeOption of geardiagnosistypes; trackBy: trackGearDiagnosisTypeById">{{gearDiagnosisTypeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
