<script src="customer-create-update.component.ts"></script><h2 mat-dialog-title>Datos de Dominios</h2>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>

        <!--Input Nombre Dominio-->
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="50px">
            <mat-form-field fxFlex>
                <mat-label>Nombre</mat-label>
                <input
                    type="text"
                    formControlName="name"
                    matInput
                    required>
            </mat-form-field>
        </div>

        <!--&lt;!&ndash; Select Unit Organizational &ndash;&gt;-->
        <!--<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">-->
            <!--<mat-form-field fxFlex>-->
                <!--&lt;!&ndash;Valor por defecto en el select&ndash;&gt;-->
                <!--<mat-label>{{defaultSelect}}</mat-label>-->
                <!--<mat-select [(value)]="gearUnits">-->
                    <!--<mat-option [value]="gearUnitsOption"-->
                                <!--*ngFor="let gearUnitsOption of gearOrganizationals">{{gearUnitsOption.name}}</mat-option>-->
                <!--</mat-select>-->
            <!--</mat-form-field>-->
        <!--</div>-->

    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">Crear Domino</button>
        <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">Actualizar Dominio</button>
    </mat-dialog-actions>
</form>
