<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-gear-decision-heading" jhiTranslate="geargatewayApp.gearDecision.home.createOrEditLabel">Create or edit a Gear Decision</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!gearDecision.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="gearDecision.id" readonly />
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" jhiTranslate="geargatewayApp.gearDecision.name" for="field_name">Name</label>-->
                    <!--<input type="text" class="form-control" name="name" id="field_name"-->
                        <!--[(ngModel)]="gearDecision.name" />-->
                <!--</div>-->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearDecision.name" for="field_name">Name</label>
                    <input
                        type="text"
                        class="form-control"
                        name="name"
                        id="field_name"
                        [(ngModel)]="gearDecision.name"
                        #field_name ="ngModel"
                        placeholder="{{'geargatewayApp.gearDecision.home.placeHolderOne' | translate}}"
                        required>

                    <div *ngIf="field_name.dirty && field_name.invalid">
                        <small class="form-text text-danger" *ngIf="field_name.errors.required">
                            Su nombre de Desición es obligatorio.
                        </small>
                    </div>
                </div>

                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" jhiTranslate="geargatewayApp.gearDecision.goal" for="field_goal">Goal</label>-->
                    <!--<input type="text" class="form-control" name="goal" id="field_goal"-->
                        <!--[(ngModel)]="gearDecision.goal" />-->
                <!--</div>-->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearDecision.goal" for="field_goal">Goal</label>
                    <input
                        type="text"
                        class="form-control"
                        name="goal"
                        id="field_goal"
                        [(ngModel)]="gearDecision.goal"
                        #field_goal ="ngModel"
                        placeholder="{{'geargatewayApp.gearDecision.home.placeHolderTwo' | translate}}"
                        required>

                    <div *ngIf="field_goal.dirty && field_goal.invalid">
                        <small class="form-text text-danger" *ngIf="field_goal.errors.required">
                            Su nombre de Meta es obligatorio.
                        </small>
                    </div>
                </div>

                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" jhiTranslate="geargatewayApp.gearDecision.geardomain" for="field_geardomain">Geardomain</label>-->
                    <!--<select class="form-control" id="field_geardomain" name="geardomain" [(ngModel)]="gearDecision.geardomainId" >-->
                        <!--<option [ngValue]="null"></option>-->
                        <!--<option [ngValue]="gearDomainOption.id" *ngFor="let gearDomainOption of geardomains; trackBy: trackGearDomainById">{{gearDomainOption.name}}</option>-->
                    <!--</select>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearDecision.geardomain" for="field_geardomain">Geardomain</label>
                    <select
                        class="form-control"
                        id="field_geardomain"
                        name="geardomain"
                        [(ngModel)]="gearDecision.geardomainId"
                        #field_geardomain ="ngModel"
                        required>

                        <option value="">--Seleccione Dominio--</option>
                        <option [ngValue]="gearDomainOption.id" *ngFor="let gearDomainOption of geardomains; trackBy: trackGearDomainById">{{gearDomainOption.name}}</option>
                    </select>

                    <div *ngIf="field_geardomain.dirty && field_geardomain.invalid">
                        <small class="form-text text-danger" *ngIf="field_geardomain.errors.required">
                            Su dominio es obligatorio.
                        </small>
                    </div>

                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
