<div>
    <h2 id="page-heading">
        <span jhiTranslate="geargatewayApp.gearSurvey.home.title">Gear Surveys</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gear-survey" [routerLink]="['/gear-survey/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="geargatewayApp.gearSurvey.home.createLabel">
            Create new Gear Survey
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="gearSurveys">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="geargatewayApp.gearSurvey.name">Name</span></th>
            <th><span jhiTranslate="geargatewayApp.gearSurvey.start">Start</span></th>
            <th><span jhiTranslate="geargatewayApp.gearSurvey.end">End</span></th>
            <th><span jhiTranslate="geargatewayApp.gearSurvey.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gearSurvey of gearSurveys ;trackBy: trackId">
                <td><a [routerLink]="['/gear-survey', gearSurvey.id, 'view' ]">{{gearSurvey.id}}</a></td>
                <td>{{gearSurvey.name}}</td>
                <td>{{gearSurvey.start | date:'mediumDate'}}</td>
                <td>{{gearSurvey.end | date:'mediumDate'}}</td>
                <td>{{gearSurvey.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/gear-survey', gearSurvey.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gear-survey', gearSurvey.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gear-survey/'+ gearSurvey.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
