<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gearSurvey">
            <h2><span jhiTranslate="geargatewayApp.gearSurvey.detail.title">Gear Survey</span> {{gearSurvey.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="geargatewayApp.gearSurvey.name">Name</span></dt>
                <dd>
                    <span>{{gearSurvey.name}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearSurvey.start">Start</span></dt>
                <dd>
                    <span>{{gearSurvey.start}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearSurvey.end">End</span></dt>
                <dd>
                    <span>{{gearSurvey.end}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearSurvey.description">Description</span></dt>
                <dd>
                    <span>{{gearSurvey.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gear-survey', gearSurvey.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
