.respuesta {
    width: 40%;
    background: #e6e6e6;
}
.respuesta h3 {
    color: #403b63;
    font-weight: 900;
}
input {
    width: 3%;
    padding: 2px;
}

.ejemploUno {
    width: 48em;
}

.ejemploDos {
    width: -webkit-fill-available;
}
