.tablaencuesta {
    width: 70%;
}
.titulo {
    height: 3em;
    text-align: center;
    background: #dcdbdb;
}
.titulocajon {
    border: 2px solid #c3c0c0;
    padding: 3px;
}
.resultabla {
    height: 2em;
    text-align: center;
    background: #e6d9d9;
}
.resulta {
    border: 2px solid #c3c0c0;
    padding: 3px;
}
.tablacrear {
    margin: 1em;
}
