<div>
    <h2 id="page-heading">
        <span jhiTranslate="geargatewayApp.gearSurveySolve.home.title">Gear Survey Solves</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gear-survey-solve" [routerLink]="['/gear-survey-solve/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="geargatewayApp.gearSurveySolve.home.createLabel">
            Create new Gear Survey Solve
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="gearSurveySolves">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="geargatewayApp.gearSurveySolve.text">Text</span></th>
            <th><span jhiTranslate="geargatewayApp.gearSurveySolve.gearsurvey">Gearsurvey</span></th>
            <th><span jhiTranslate="geargatewayApp.gearSurveySolve.gearsurveyquestion">Gearsurveyquestion</span></th>
            <th><span jhiTranslate="geargatewayApp.gearSurveySolve.gearsurveyanswer">Gearsurveyanswer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gearSurveySolve of gearSurveySolves ;trackBy: trackId">
                <td><a [routerLink]="['/gear-survey-solve', gearSurveySolve.id, 'view' ]">{{gearSurveySolve.id}}</a></td>
                <td>{{gearSurveySolve.text}}</td>
                <td>
                    <div *ngIf="gearSurveySolve.gearsurveyId">
                        <a [routerLink]="['../gear-survey', gearSurveySolve.gearsurveyId , 'view' ]" >{{gearSurveySolve.gearsurveyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="gearSurveySolve.gearsurveyquestionId">
                        <a [routerLink]="['../gear-survey-question', gearSurveySolve.gearsurveyquestionId , 'view' ]" >{{gearSurveySolve.gearsurveyquestionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="gearSurveySolve.gearsurveyanswerId">
                        <a [routerLink]="['../gear-survey-answer', gearSurveySolve.gearsurveyanswerId , 'view' ]" >{{gearSurveySolve.gearsurveyanswerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/gear-survey-solve', gearSurveySolve.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gear-survey-solve', gearSurveySolve.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gear-survey-solve/'+ gearSurveySolve.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
