/**
** hoja de estilo que controlan los colores en las tablas y en el modal de creacion
*/
#Azul {
    color: #0033ff;
    font-weight: 400;
    border-block-end: 2px solid;
}
#Rojo {
    color: #ff0000;
    font-weight: 400;
    border-block-end: 2px solid;
}
#Verde {
    color: #3cff00;
    font-weight: 400;
    border-block-end: 2px solid;
}
#Naranja {
    color: #ff9100;
    font-weight: 400;
    border-block-end: 2px solid;
}
