<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gearProjectRisk">
            <h2><span jhiTranslate="geargatewayApp.gearProjectRisk.detail.title">Gear Project Risk</span> {{gearProjectRisk.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="geargatewayApp.gearProjectRisk.status">Status</span></dt>
                <dd>
                    <span>{{gearProjectRisk.status}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearProjectRisk.impact">Impact</span></dt>
                <dd>
                    <span>{{gearProjectRisk.impact}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearProjectRisk.probability">Probability</span></dt>
                <dd>
                    <span>{{gearProjectRisk.probability}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearProjectRisk.description">Description</span></dt>
                <dd>
                    <span>{{gearProjectRisk.description}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearProjectRisk.firstImpactDate">First Impact Date</span></dt>
                <dd>
                    <span>{{gearProjectRisk.firstImpactDate}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearProjectRisk.mitigationStrategy">Mitigation Strategy</span></dt>
                <dd>
                    <span>{{gearProjectRisk.mitigationStrategy}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearProjectRisk.mitigationDescription">Mitigation Description</span></dt>
                <dd>
                    <span>{{gearProjectRisk.mitigationDescription}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearProjectRisk.expectedCloseDate">Expected Close Date</span></dt>
                <dd>
                    <span>{{gearProjectRisk.expectedCloseDate}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearProjectRisk.createdBy">Created By</span></dt>
                <dd>
                    <span>{{gearProjectRisk.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearProjectRisk.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{gearProjectRisk.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearProjectRisk.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{gearProjectRisk.lastModifiedBy}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearProjectRisk.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{gearProjectRisk.lastModifiedDate}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearProjectRisk.gearProject">Gear Project</span></dt>
                <dd>
                    <div *ngIf="gearProjectRisk.gearProjectId">
                        <a [routerLink]="['/gear-project', gearProjectRisk.gearProjectId, 'view']">{{gearProjectRisk.gearProjectId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gear-project-risk', gearProjectRisk.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
