@import './../../../content/scss/var';

.clickable {
    cursor: pointer;
}

.image-cell {
    img {
        background: $theme-app-bar;
    }
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btnUpload {
    border: 1px solid gray;
    color: #ffffff;
    background-color: #455a64;
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 15px;
}

.upload-btn-wrapper input[type='file'] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
