<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-gear-user-heading" jhiTranslate="geargatewayApp.gearUser.home.createOrEditLabel">Create or edit a Gear User</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!gearUser.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="gearUser.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearUser.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="gearUser.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearUser.password" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                        [(ngModel)]="gearUser.password" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearUser.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="gearUser.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearUser.avatar" for="field_avatar">Avatar</label>
                    <input type="text" class="form-control" name="avatar" id="field_avatar"
                        [(ngModel)]="gearUser.avatar" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearUser.profile" for="field_profile">Profile</label>
                    <input type="text" class="form-control" name="profile" id="field_profile"
                        [(ngModel)]="gearUser.profile" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearUser.state" for="field_state">State</label>
                    <input type="checkbox" class="form-control" name="state" id="field_state"
                        [(ngModel)]="gearUser.state" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearUser.idAlfresco" for="field_idAlfresco">Id Alfresco</label>
                    <input type="text" class="form-control" name="idAlfresco" id="field_idAlfresco"
                        [(ngModel)]="gearUser.idAlfresco" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearUser.loginAttempts" for="field_loginAttempts">Login Attempts</label>
                    <input type="number" class="form-control" name="loginAttempts" id="field_loginAttempts"
                        [(ngModel)]="gearUser.loginAttempts" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearUser.lastUpdatePasswordDate" for="field_lastUpdatePasswordDate">Last Update Password Date</label>
                    <div class="input-group">
                        <input id="field_lastUpdatePasswordDate" type="text" class="form-control" name="lastUpdatePasswordDate" ngbDatepicker  #lastUpdatePasswordDateDp="ngbDatepicker" [(ngModel)]="gearUser.lastUpdatePasswordDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastUpdatePasswordDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearUser.passwordResetKey" for="field_passwordResetKey">Password Reset Key</label>
                    <input type="text" class="form-control" name="passwordResetKey" id="field_passwordResetKey"
                        [(ngModel)]="gearUser.passwordResetKey" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearUser.pin" for="field_pin">Pin</label>
                    <input type="number" class="form-control" name="pin" id="field_pin"
                        [(ngModel)]="gearUser.pin" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geargatewayApp.gearUser.gearOrganizationalUnit" for="field_gearOrganizationalUnit">Gear Organizational Unit</label>
                    <select class="form-control" id="field_gearOrganizationalUnit" name="gearOrganizationalUnit" [(ngModel)]="gearUser.gearOrganizationalUnitId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gearOrganizationalUnitOption.id" *ngFor="let gearOrganizationalUnitOption of gearorganizationalunits; trackBy: trackGearOrganizationalUnitById">{{gearOrganizationalUnitOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
