<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gearValueChainCategory">
            <h2><span jhiTranslate="geargatewayApp.gearValueChainCategory.detail.title">Gear Value Chain Category</span> {{gearValueChainCategory.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="geargatewayApp.gearValueChainCategory.name">Name</span></dt>
                <dd>
                    <span>{{gearValueChainCategory.name}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearValueChainCategory.decription">Decription</span></dt>
                <dd>
                    <span>{{gearValueChainCategory.decription}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearValueChainCategory.color">Color</span></dt>
                <dd>
                    <span>{{gearValueChainCategory.color}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearValueChainCategory.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{gearValueChainCategory.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="geargatewayApp.gearValueChainCategory.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{gearValueChainCategory.lastUpdate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gear-value-chain-category', gearValueChainCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
