<p>
  diagrama-estrategia works!
</p>

<div class="row">
    <div class="col-xs-10">
        <!--<div id="chart-eastern" class="chart-container" style="text-align: left;"></div>-->
        <div id="goals-smart-portfolio-diagram"></div>
    </div>
    <div class="col-xs-2">
        <div class="row margin-bottom-15px" data-translate="geargatewayApp.gearGoalsStrategyAE.home.conventions">
            Convenciones
        </div>
        <div class="row margin-bottom-15px">
            <div class="col-xs-3">
                <i class="fab fa-empire fa-2x color-gray-goal"></i>
            </div>
            <div class="col-xs-9" data-translate="geargatewayApp.gearGoalsStrategyAE.home.goals">
                Goals
            </div>
        </div>
        <div class="row margin-bottom-15px">
            <div class="col-xs-3">
                <i class="fas fa-bullseye fa-2x color-blue-smart"></i>
            </div>
            <div class="col-xs-9" data-translate="geargatewayApp.gearGoalsStrategyAE.home.smart">
                Smart
            </div>
        </div>

        <div class="row margin-bottom-15px">
            <div class="col-xs-3">
                <i class="fas fa-puzzle-piece fa-2x color-green-portfolio"></i>
            </div>
            <div class="col-xs-9" data-translate="geargatewayApp.gearGoalsStrategyAE.home.portfolio">
                Portfolio Project
            </div>
        </div>

    </div>
</div>
